@font-face {
  font-family: "iconfont"; /* Project id 3987399 */
  src: url('iconfont.woff2?t=1700916653339') format('woff2'),
       url('iconfont.woff?t=1700916653339') format('woff'),
       url('iconfont.ttf?t=1700916653339') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.LLTrip-mail:before {
  content: "\e70a";
}

